              <p class="" data-id="86183" style="line-height: 25.6px; border: 0px none; text-align: center;">
                  <br/>
              </p>
              <p class="" data-id="86183" style="line-height: 25.6px; border: 0px none; text-align: center;">
                  <br/>
              </p>
              <p class="" data-id="86183" style="line-height: 25.6px; border: 0px none;">
                  <br/>
              </p>
              <section class="" data-id="86032" style="line-height: 25.6px; border: 0px none;">
                  <section style="text-align: center;">
                      <section style="margin-right: auto; margin-left: auto; padding-right: 15px; padding-left: 15px; display: inline-block; background-color: rgb(254, 254, 254);">
                          <p style="color: inherit;">
                              <span class="" data-brushtype="text" style="font-size: 14px;">END</span>
                          </p>
                      </section>
                      <section style="margin-top: -12px; margin-bottom: 10px;">
                          <section data-width="100%" style="border-top-width: 1px; border-top-style: dashed; width: 100%; border-color: rgb(33, 33, 34);">
                              <br/>
                          </section>
                      </section>
                  </section>
              </section>
              <p style="text-align: center;">
                  <img title="推送配图.png" data-ratio="0.4338235294117647" data-w="544" src="{{static_url("images/qrcode.png")}}" word_img="qrcode.png" style="width:100%"/>
              </p>
              <p>
                  <br/>
              </p>