 <p class="" data-id="86245" style="text-align: center; border: 0px none;">
                  <br/>
              </p>
              <section class="" data-id="85431" style="border: 0px none;">
                  <section class="" data-width="40%" style="padding-right: 0.1em; width: 40%;">
                      <section style="margin-top: 0.3em; margin-bottom: 0.3em; font-size: 14px;">
                          <section style="margin-right: auto; margin-left: auto; border: 5px solid rgb(254, 254, 254); width: 105px; clear: both; text-align: center; height: 105px; border-radius: 50%; float: left; box-shadow: rgb(220, 220, 220) 0px 2px 8px;">
                              <img border="0" data-width="100%" height="100%" opacity="" title="logo.jpg" width="100%" data-ratio="1" data-w="95" src="{{ static_url("images/logo.jpg") }}" style="border: 1px solid rgb(221, 221, 221); width: 100%;border-radius:50%"/>
                          </section>
                      </section>
                  </section>
                  <section class="" data-width="60%" style="padding-left: 0.1em; width: 60%; display: inline-block;">
                      <section style="margin-top: 0.8em; padding-left: 1em; display: inline-block; vertical-align: top; color: rgb(109, 117, 81);">
                          <h2 data-width="100%" style="margin-bottom: 0.5em; font-size: 18px; width: 100%; overflow: hidden; border-color: rgb(211, 172, 156); color: inherit;">
                              中大活动小贴士
                          </h2>
                          <section class="" style="border-color: rgb(211, 172, 156); color: inherit;">
                              <p>
                                  <span style="font-size: 14px; line-height: 22.4px;">纵览校园活动资讯，一手掌握身边最热活动信息</span>
                              </p>
                          </section>
                      </section>
                  </section>
              </section>
              <p class="" data-id="86183" style="line-height: 25.6px; text-align: center; border: 0px none;">
                  <br/>
              </p>
              <p class="" data-id="86183" style="line-height: 25.6px; border: 0px none;">
                  <br/>
              </p>