<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>胡同here</title>
<link rel="stylesheet" type="text/css" href="{{ static_url("css/error_404.css") }}">
</head>
<body>

<div id="page" style="border-style:dashed;border-color:#e4e4e4;line-height:30px;background:url(sorry.png) no-repeat right;">
	<h1>抱歉，找不到此页面~</h1>
	<font color="#666666">小朋友~不要乱逛哦</font><br /><br />
	<div class="button">
		<a href="/" title="进入首页">进入主页</a>
	</div>
</div>

</body>
</html>
