<!DOCTYPE html>
<html lang="zh">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
        <title>中大活动小贴士</title>
        <link rel="stylesheet" type="text/css" href="../static/css/manage.css">

    </head>
    <body>
        <div class="header">
            <h1>中大活动汇总</h1>
        </div>
        <div class="body">
            <a href="/collection?Title=welfare">公益</a>
            <a href="/collection?Title=PE">体育</a>
            <a href="/collection?Title=game">比赛</a>
            <a href="/collection?Title=lecture">讲座</a>
        </div>
        <div class="footer"><span>中大活动小贴士</span></div>
    </body>
</html>