<!DOCTYPE html>
<html lang="zh">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
        <title>发布成功</title>
        <!-- 引入 WeUI -->
        <link rel="stylesheet" href="{{ static_url("css/weui.css") }}"/>
        <link rel="stylesheet" href="{{ static_url("css/publish-success.css") }}"/>
    </head>
    <body>
        <div class="header"></div>
        <div class="main-body">
            <div class="weui_msg">
                <div class="weui_icon_area"><i class="weui_icon_success weui_icon_msg"></i></div>
                <div class="weui_text_area">
                    <h2 class="weui_msg_title">发布成功</h2>
                    <p class="weui_msg_desc">感谢您的支持，我们将尽快审核您的活动信息</p>
                </div>
                <div class="weui_opr_area">
                    <p class="weui_btn_area">
                        <a href="http://mp.weixin.qq.com/s?__biz=MzIwMzIyNDYwNw==&mid=2649915892&idx=2&sn=c22e17423bf4d83ccf29ef2a68e2556d#rd" class="weui_btn weui_btn_primary">确定</a>
                    </p>
                </div>
            </div>
        </div>
        <div class="footer">中大活动小贴士</div>
    </body>
</html>
