<!DOCTYPE html>
<html >
  <head>
    <meta charset="UTF-8">
    <meta name="google" value="notranslate">


    <title>CodePen - WeUI-Uploader</title>
    
    
    
    
        <style>
      body{
  background-color: #efeff4;
}
    </style>

    
    
    
  </head>

  <body>

    <!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta id="viewport" name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <title>WeUI-Uploader</title>
  <link rel="stylesheet" href="https://res.wx.qq.com/open/libs/weui/0.3.0/weui.css" />
</head>
<body>
  <div class="container">
    <div class="weui_cells_title">上传</div>
    <div class="weui_cells weui_cells_form">
      <div class="weui_cell">
        <div class="weui_cell_bd weui_cell_primary">
          <div class="weui_uploader">
            <div class="weui_uploader_hd weui_cell">
              <div class="weui_cell_bd weui_cell_primary">图片上传</div>
              <div class="weui_cell_ft js_counter">0/6</div>
            </div>
            <div class="weui_uploader_bd">
              <ul class="weui_uploader_files">
                <!-- 预览图插入到这 -->
              </ul>
              <div class="weui_uploader_input_wrp">
                <input class="weui_uploader_input js_file" type="file" accept="image/jpg,image/jpeg,image/png,image/gif" multiple="">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="weui_dialog_alert" style="display: none;">
    <div class="weui_mask"></div>
    <div class="weui_dialog">
      <div class="weui_dialog_hd"><strong class="weui_dialog_title">警告</strong></div>
      <div class="weui_dialog_bd">弹窗内容，告知当前页面信息等</div>
      <div class="weui_dialog_ft">
        <a href="javascript:;" class="weui_btn_dialog primary">确定</a>
      </div>
    </div>
  </div>
   <!-- // <script src="http://cdn.bootcss.com/zepto/1.1.6/zepto.min.js"></script> -->
</body>
</html>
    
    
        <script>
 //@ sourceURL=pen.js
    </script>
    <script type="text/javascript" src="../static/js/jquery-2.1.4.js"></script>
    <script type="text/javascript" src="../static/js/publish.js"></script>

    
    
    
  </body>
</html>
 
